@model EF_CRUD.Models.DefectTemplate

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Defect Template Item</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div style="height:20px;"></div>
    <div style="width:600px; margin-right:auto; margin-left:auto;">@ViewBag.Message</div>
    <table style="width:100%; margin-left:auto; margin-right:auto;">
        <tr>
            <td style="padding:5px; text-align:right;">
                <b>Defect Group</b>
            </td>
            <td style="padding:5px;">
                @foreach (var gn in ViewBag.GroupNames)
                {
                    if (gn.DefectGroupId == Model.DefectGroupId)
                    {
                        @gn.GroupName
                    }
                }
                <input type="hidden" name="DefectGroupId" id="DefectGroupId" value="@Html.DisplayFor(x => x.DefectGroupId)" />
            </td>
        </tr>
        <tr>
            <td style="padding:5px; text-align:right;">
                <b>Defect Name</b>
            </td>
            <td style="padding:5px;">
                @Html.EditorFor(model => model.DefectName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DefectName, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td style="padding:5px; text-align:right;">
                <b>Defect Cost</b>
            </td>
            <td style="padding:5px;">
                @Html.EditorFor(model => model.DefectCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DefectCost, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td style="padding:5px;"></td>
            <td style="padding:5px;">
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="button" value="Cancel" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "DefectTemplate") + "'");" />
            </td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
