@model EF_CRUD.Models.StorageCapacity

@{
    ViewBag.Title = "Edit Storage Capacity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Storage Capacity</h2>

<div style="height:20px;"></div>
<div style="width:600px; margin-right:auto; margin-left:auto;" class="text-danger">@ViewBag.Message</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StorageCapacityId)

        <div class="form-group">
            @Html.LabelFor(model => model.StorageCapacity1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div style="display:inline-block">
                    @Html.EditorFor(model => model.StorageCapacity1, new { htmlAttributes = new { @class = "form-control", style = "width:75px;", autofocus = "true" } })
                </div>
                <div style="display:inline-block">
                    <select id="Description" name="Description" class="form-control" style="width:80px;">
                        <option value="GB"
                                @{string desc = ViewBag.Desc;}
                                @if (desc.Contains("GB")) { @Html.Raw(" selected") ; }>
                            GB
                        </option>
                        <option value="TR"
                                @if (desc.Contains("TR")) { @Html.Raw(" selected") ; }>
                            TR
                        </option>
                    </select>
                </div>
                <br />
                @Html.ValidationMessageFor(model => model.StorageCapacity1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="button" value="Cancel" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "StorageCapacities") + "'");" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
