@model EF_CRUD.Models.PaymentType

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Payment Type</h2>

<h3>Are you sure you want to delete this Payment Type?</h3>

<div style="height:20px;"></div>
<div style="width:600px; margin-right:auto; margin-left:auto;" class="text-danger">@ViewBag.Message</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table style="width:60%; margin-left:100px; margin-right:auto;">
        <tr>
            <td style="padding:6px; text-align:right; width:20%">
                @Html.LabelFor(model => model.PaymentType1, htmlAttributes: new { @class = "control-label col-md-2" })
            </td>
            <td>
                @Html.DisplayFor(model => model.PaymentType1)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Delete" class="btn btn-default" onclick="return ConfirmDelete();" />
                <input type="button" value="Cancel" class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "PaymentTypes") + "'");" />
            </td>
        </tr>
    </table>
}
