@model IEnumerable<EF_CRUD.Models.PaymentType>

@{
    ViewBag.Title = "Payment Types";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Payment Types</h2>

<p>
    <button onclick="location.href='@Url.Action("Create", "PaymentTypes")';return false;" class="btn btn-default">New Payment Type</button>
</p>
<table class="table" style="width:100%;">
    <tr class="TableHeader">
        <th>
            @Html.DisplayNameFor(model => model.PaymentType1)
        </th>
        <th></th>
    </tr>
    </table>
<table class="table" style="width:100%;">
    @{ var i = 0; }

    @foreach (var item in Model)
    {
        var classStyle = "AltRow";
        if (i == 0) { classStyle = ""; i--; } else { i++; }
        <tr class="@classStyle">
            <td style="text-align:center; width:65%; font-weight:bold;">
                @Html.DisplayFor(modelItem => item.PaymentType1)
            </td>
            <td style="width:35%;">
                @Html.ActionLink("Edit", "Edit", new { id = item.PaymentTypeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PaymentTypeId })
            </td>
        </tr>
    }

</table>
